[submodule ".context/tanstack-router"]
	path = .context/tanstack-router
	url = https://github.com/TanStack/router.git
	ignore = all
[submodule ".context/fumadocs"]
	path = .context/fumadocs
	url = https://github.com/fuma-nama/fumadocs.git
	ignore = all
[submodule ".context/effect-better-auth-example"]
	path = .context/effect-better-auth-example
	url = https://github.com/kitlangton/effect-better-auth-example
	ignore = all
[submodule ".context/better-auth"]
	path = .context/better-auth
	url = https://github.com/better-auth/better-auth
	ignore = all
[submodule ".context/drizzle-orm"]
	path = .context/drizzle-orm
	url = https://github.com/drizzle-team/drizzle-orm
	ignore = all
[submodule ".context/effect"]
	path = .context/effect
	url = https://github.com/Effect-TS/effect
	ignore = all
[submodule ".context/effect-utils"]
	path = .context/effect-utils
	url = https://github.com/overengineeringstudio/effect-utils
	ignore = all
[submodule ".context/distilled-aws"]
	path = .context/distilled-aws
	url = https://github.com/alchemy-run/distilled-aws.git
	ignore = all
[submodule ".context/alchemy-effect"]
	path = .context/alchemy-effect
	url = https://github.com/alchemy-run/alchemy-effect
	ignore = all
